@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-platinum: #d4d5d9;
        --color-raisinblack: #222326;
        --color-night: #0e0e0e;
        --color-amaranth: #e32552;
    }
}